@media (max-width:480px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 3px;
    }

    .logo-divar {
        width: 100%;
        height: 40px;
        margin-top: -11px;

    }

    .title1 {
        grid-area: 1/1/2/2;
        color: black in !important;
        padding: 1px;
    }

    .title2 {
        grid-area: 2/1/3/2;
        color: black in !important;
        padding: 1px;
    }

    .big-card{
        float: right;
        border: 1px solid black;
        border-radius: 4px;
        width: 100% !important;
        margin-bottom: 1%;
        height: 168px;
    }

    
    

    .text-right span,
    .text-right h4{
        display: block;
        text-align: right;
        margin: 15px 0px;

    }
    .img-left img {
        width: 38%;
        position: absolute;
        top: 5px;
        left: 3px;
        border-radius: 10px;
    }

    .title3 {
        grid-area: 3/1/4/2;
        color: black in !important;
        padding: 1px;
    }

}

@media screen and (min-width:481px) and (max-width:768px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 3px;
    }

    .logo-divar {
        width: 100%;
        height: 40px;
        margin-top: -11px;

    }

    .title1 {
        grid-area: 1/1/2/2;
        color: black in !important;
        padding: 1px;
    }

    .title2 {
        grid-area: 2/1/3/2;
        color: black in !important;
        padding: 1px;
    }

    .big-card{
        float: right;
        border: 1px solid black;
        border-radius: 4px;
        width: 100% !important;
        margin-bottom: 1%;
        height: 168px;
    }

    
    .text-right span,
    .text-right h4{
        display: block;
        text-align: right;
        margin: 15px 0px;

    }
    .img-left img {
        width: 23%;
        position: absolute;
        top: 5px;
        left: 40px;
        border-radius: 10px;
    }

    .title3 {
        grid-area: 3/1/4/2;

        color: black in !important;
        padding: 1px;
    }

}

@media screen and (min-width:769px) and (max-width:992px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 3px;
    }

    .logo-divar {
        width: 100%;
        height: 40px;
        margin-top: -11px;

    }

    input.form-control {
        width: 285px !important;
    }
    .navbar-form{
        width: 200px !important;
    }
    .navbar-left~.navbar-right {
        margin-left: -22px !important;
    }

    .title1 {
        grid-area: 1/1/2/2;
        position: sticky;
        top: 0%;
        z-index: 9999;
        color: black in !important;
        padding: 1px;
    }

    .title2 {
        grid-area: 2/1/3/2;
        color: black in !important;
        padding: 1px;
    }

    .item1 {
        margin-bottom: 10px;
        height: 1000px;
        text-align: right;
        background-color: transparent;
        position: fixed;
        top: 80px;
        width: 20%;
    }



    .big-card{
        float: right;
        border: 1px solid black;
        border-radius: 4px;
        width: 100% !important;
        margin-bottom: 1%;
        height: 168px;
    }

    
    

    .text-right span,
    .text-right h4{
        display: block;
        text-align: right;
        margin: 15px 0px;

    }
    .img-left img {
        width: 23%;
        position: absolute;
        top: 5px;
        left: 25px;
        border-radius: 10px;
    }

    .title3 {
        grid-area: 3/1/4/2;

        color: black in !important;
        padding: 1px;
    }

}

@media screen and (min-width:993px) and (max-width:1200px){
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 3px;
        margin: 0px 40px !important;
    }

    .navbar-default {
        border: 0px !important;
    }

    .logo-divar {
        width: 40%;
        margin-top: -19px;
    }

    input.form-control {
        width: 285px !important;
    }

    .title1 {
        grid-area: 1/1/2/2;
        position: sticky;
        top: 0%;
        z-index: 9999;
        color: black in !important;
        padding: 1px;
    }
    .form-control{
        width: 400px !important;
    }

    .title2 {
        grid-area: 2/1/3/2;
        min-width: 992px;
        max-width: 1440px;
        color: black in !important;
        padding: 1px;
    }
    

    .big-card{
        float: right;
        border: 1px solid rgb(229, 226, 226);
        border-radius: 4px;
        width: 31% !important;
        margin-right: 1% 1%;
        height: 168px;
    }

    .text-right h4{
        display: block;
        text-align: right;
        margin: 15px 0px;
        z-index: 9999;
        line-height:2;
    }
    .text-right span{
        display: block;
        text-align: right;
        margin: 15px 0px;
        
    }
    .img-left img {
        width: 46%;
        position: absolute;
        top: 8px;
        left: 10px;
        border-radius: 10px;
    }

    .item1 {
        margin-bottom: 10px;
        height: 1000px;
        text-align: right;
        background-color: transparent;
        position: fixed;
        top: 80px;
        width: 20%;
    }
    h5{
        margin-right: 25px !important;
    }
      #myMenu {
    
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      #myMenu li a {
        padding: 12px;
        text-decoration: none;
       background-color: rgb(246, 241, 241);
       color: rgb(62, 61, 61);
        display: block;
      }

    .left {
        margin: 20px;
      }

    .title3 {
        grid-area: 3/1/4/2;

        color: black in !important;
        padding: 1px;
    }

}

@media screen and (min-width:1201px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 3px;
        margin: 0px 40px !important;
    }

    .navbar-default {
        border: 0px !important;
    }
  

    .logo-divar {
        width: 20%;
        margin-top: -19px;

    }

    .title1 {
        grid-area: 1/1/2/2;
        position: sticky;
        top: 0%;
        z-index: 9999;
        color: black in !important;
        padding: 1px;
    }
    .form-control{
        width: 400px !important;
    }

    .title2 {
        grid-area: 2/1/3/2;
        min-width: 992px;
        max-width: 1440px;
        color: black in !important;
        padding: 1px;
    }

    .big-card{
        float: right;
        border: 1px solid rgb(229, 226, 226);
        border-radius: 4px;
        width: 31% !important;
        margin-right: 1% 1%;
        height: 168px;
    }

    .text-right h4{
        display: block;
        text-align: right;
        margin: 15px 0px;
        z-index: 9999;
        line-height:2;
    }
    .text-right span{
        display: block;
        text-align: right;
        margin: 15px 0px;
        
    }
    .img-left img {
        width: 46%;
        position: absolute;
        top: 8px;
        left: 10px;
        border-radius: 10px;
    }

    .item1 {
        margin-bottom: 10px;
        height: 1000px;
        text-align: right;
        background-color: transparent;
        position: fixed;
        top: 80px;

    }
    h5{
        margin-right: 25px !important;
    }
      #myMenu {
    
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      #myMenu li a {
        padding: 12px;
        text-decoration: none;
       background-color: rgb(246, 241, 241);
       color: rgb(62, 61, 61);
        display: block;
      }

    .left {
        margin: 20px;
      }

    .title3 {
        grid-area: 3/1/4/2;

        color: black in !important;
        padding: 1px;
    }

}